<!DOCTYPE html>
<html ng-app>
	<head>
		<style>
		.susan {
			display: inline;
			font-size: 20px;
		}
		</style>
		<title> Susan Bhattarai</title>
	</head>
	<body>
		<div class="container">
			Name : <input type="text" class ='susan' ng-model="name" /> {{name}}
			Address : <input type='text' class ='susan' ng-model="address" />
		</div>
		<p> {{name}} </p>
		<p> {{address}} </p>


		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"> </script>
	</body>	

</html>